<div> recent posts</div>

 <h2>
    <span>

    <div> <%= link_to post.title, user_post_path(post.user, post) %> </div>

     id: <%= post.id %>
    </span>
  </h2>
  <p>
    Text content: <%= post.text %>
  </p>

  <p>
  likes_counter: <%= post.likes_counter %>
  </p>

  <small>
    <span>Comment: <%= post.comments_counter %> </span>
    <% post.most_recent_five_comments.each do |comment| %>
      <h4><%= comment.author.name%>: <%= comment.text%></h4>
    <%end%>

  </small>