<div>
    <h2>
      <%= post.title %> by <%= post.user.name %>
    </h2>

    <%= form_with url: "/posts/#{@post.id}/likes", scope: :like do |form| %>
      <%= form.submit "Like this post", class: "btn btn-danger"%>
    <% end %>

    <small>
      <span>Comment: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></span>
    </small>

  <p>
    <%= post.text %>
  </p>

</div>
